.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #F4F7FC;
}

.menu {
  width: 300px;
  background: #3A415E;

  a {
    color: white;

    &.active {
      color: #FFCF00;
      background: #4D536E;
    }
  }
}

.content {
  padding: 50px 20px;
}

.home-bttn {
  width: 100%;
}
