<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened class="menu">
    <mat-nav-list>

      <a [routerLink]="['/home']" routerLinkActive="active" mat-list-item class="home-bttn">Home</a>
      <a [routerLink]="['/alunos']" routerLinkActive="active" mat-list-item>Alunos</a>
      <a [routerLink]="['/professores']" routerLinkActive="active" mat-list-item>Professores</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet>
    </router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
