<div class="table-container">


    <app-chart type="pie" title="Alunos/Séries"></app-chart>

    <div class="table-container__btn-row">
        <app-search-input (keyUpEmmiter)="applyFilter($event)" (valueToggle)="changeFilterPredicate($event)"
            [filterValue]="filterSearchValue">
        </app-search-input>
        <button mat-raised-button (click)="addStudents()"> + alunos </button>
    </div>

    <div class="tb-inside ">
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- Position Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Aluno ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="ra">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> RA </th>
                <td mat-cell *matCellDef="let element"> {{element.ra}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="degreeName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Degree</th>
                <td mat-cell *matCellDef="let element"> {{element.degreeName}} </td>
            </ng-container>

            <!-- class Column -->
            <ng-container matColumnDef="className">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Class </th>
                <td mat-cell *matCellDef="let element"> {{element.className}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openModalEditStudent(row)"
                class="row-students"></tr>
        </table>

        <mat-paginator [length]="studentsTable.length" [pageSizeOptions]="[15, 30, 45]" showFirstLastButtons>
        </mat-paginator>
    </div>

</div>
